---
type SocialPlatform =
	| 'bluesky' // Bluesky
	| 'facebook' // Facebook
	| 'github' // GitHub
	| 'instagram' // Instagram
	| 'links' // Links
	| 'mastodon' // Mastodon
	| 'patreon' // Patreon
	| 'telegram' // Telegram
	| 'tiktok' // TikTok
	| 'tumblr' // Tumblr
	| 'twitch' // Twitch
	| 'twitter' // Twitter
	| 'website' // Website
	| 'youtube' // YouTube

function parseSocialPlatform(code: any): string | undefined
{
	return typeof code === 'string' ? code.toLowerCase() : code
}

const sp: SocialPlatform | undefined = parseSocialPlatform(Astro.props.platform) as any
---

{
	sp === 'bluesky' ? <span class="icon-[ri--bluesky-fill] icon-align icon-fw"></span>
	: sp === 'facebook' ? <span class="icon-[mdi--facebook] icon-align icon-fw"></span>
	: sp === 'github' ? <span class="icon-[mdi--github] icon-align icon-fw"></span>
	: sp === 'instagram' ? <span class="icon-[mdi--instagram] icon-align icon-fw"></span>
	: sp === 'links' ? <span class="icon-[mdi--link] icon-align icon-fw"></span>
	: sp === 'mastodon' ? <span class="icon-[mdi--mastodon] icon-align icon-fw"></span>
	: sp === 'patreon' ? <span class="icon-[mdi--patreon] icon-align icon-fw"></span>
	: sp === 'telegram' ? <span class="icon-[mdi--telegram] icon-align icon-fw"></span>
	: sp === 'tiktok' ? <span class="icon-[ic--baseline-tiktok] icon-align icon-fw"></span>
	: sp === 'tumblr' ? <span class="icon-[mdi--tumblr] icon-align icon-fw"></span>
	: sp === 'twitch' ? <span class="icon-[mdi--twitch] icon-align icon-fw"></span>
	: sp === 'twitter' ? <span class="icon-[mdi--twitter] icon-align icon-fw"></span>
	: sp === 'website' ? <span class="icon-[mdi--web] icon-align icon-fw"></span>
	: sp === 'youtube' ? <span class="icon-[mdi--youtube] icon-align icon-fw"></span>
	: <em>{sp}</em>
}
