---
import YAML from 'yaml'

import CountryFlag from '~/components/CountryFlag.astro'
import SocialPlatformIcon from '~/components/SocialPlatformIcon.astro'
import streamersSocialsYml from '~/data/streamers/socials.yml?raw'

interface StreamerSocials {
	name: string
	country: string
	socials: Array<{
		platform: string
		url: string
	}>
}

const { streamersListYml = '[]' } = Astro.props
const streamersList = YAML.parse(streamersListYml) as Array<string>
const streamersSocials = YAML.parse(streamersSocialsYml) as Record<string, StreamerSocials>

const streamers: Array<StreamerSocials> = streamersList.map(
	(name) => streamersSocials[name] || { name, country: '?', socials: [] }
)
---

<table>

	<thead>
		<tr>
			<th><span class="sr-only">Nationalité</span></th>
			<th>Participant</th>
			<th>Réseaux sociaux</th>
		</tr>
	</thead>

	<tbody>
		{streamers.map((streamer) => (
			<tr>
				<td>
					<CountryFlag country={streamer.country} />
				</td>
				<td>{streamer.name}</td>
				<td>
					{streamer.socials?.map((social, index) => (
						<>
							<a href={social.url} target="_blank" rel="noopener noreferrer">{
								}<SocialPlatformIcon platform={social.platform} />{
							}</a>{index < streamer.socials.length - 1 && ', '}
						</>
					))}
				</td>
			</tr>
		))}
	</tbody>

</table>
