---
import YAML from 'yaml'

import CountryFlag from '~/components/CountryFlag.astro'
import SocialPlatformIcon from '~/components/SocialPlatformIcon.astro'
import streamersSocialsYml from '~/data/streamers/socials.yml?raw'

interface YamlStreamerSocials
{
	name: string
	country: string
	socials: Array<{
		platform: string
		url: string
	}> | null
}

interface StreamerSocials
{
	name: string
	country: string
	socials: Array<{
		platform: string
		url: string
	}>
}

const { streamersListYml = '[]' } = Astro.props
const streamersList = YAML.parse(streamersListYml) as Array<string>
const streamersSocials = YAML.parse(streamersSocialsYml) as Record<string, YamlStreamerSocials>

const streamers: Array<StreamerSocials> = streamersList.map(
	(name): StreamerSocials =>
	{
		const streamer = streamersSocials[name]

		if (!streamer)
		{
			return {
				name: name,
				country: '?',
				socials: [],
			}
		}

		return {
			name: streamer.name,
			country: streamer.country,
			socials: (streamer.socials || []).map(
				(social) => ({
					platform: social.platform.toLowerCase(),
					url: social.url
				})
			)
		}
	}
)
---

<table>

	<thead>
		<tr>
			<th><span class="sr-only">Nationalité</span></th>
			<th>Participant</th>
			<th>Réseaux sociaux</th>
		</tr>
	</thead>

	<tbody>
		{streamers.map((streamer) => (
			<tr>
				<td>
					<CountryFlag country={streamer.country} />
				</td>
				<td>{streamer.name}</td>
				<td>
					{streamer.socials.map((social, index) => (
						<>
							<a href={social.url} target="_blank" rel="noopener noreferrer">{
								}<SocialPlatformIcon platform={social.platform} />{
							}</a>{index < streamer.socials.length - 1 && ', '}
						</>
					))}
				</td>
			</tr>
		))}
	</tbody>

</table>
